:root {
    --mdc-theme-secondary: var(--mdc-theme-primary);
  }
  .test {
    display: inline-block;
  }
  body {
    font-family: "Roboto", sans-serif;
    font-size: .938rem;
    font-weight: 400;
    background-color: #fafafa;
    margin: 0;
  }
  h2 {
    margin-top: .75em;
    margin-bottom: .25em;
  }
  p {
    margin-top: 0;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .w-100 {
    width: 100%;
  }
  
  .ribbon {
    background-color: #018786;
    flex-shrink: 0;
    height: 25vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.5;
  }
  .card-container {
    display: flex;
    justify-content: center;
    margin-top: -40vh;
    opacity: 0.5;
  }
  .mdc-card {
    width: 100%;
    max-width: 860px;
    margin: 16px;
  }
  
  #dropdown {
    display: none;
  }
  
  .mdc-radio {
    margin-right: 2px;
  }
  
  h1 {
    font-size: 48px; /* Cambia el tamaño de letra a 24 píxeles (puedes ajustar este valor según tus preferencias) */
    margin-top: 42vh;
  }
  p {
    font-size: 12px; /* Cambia el tamaño de letra a 24 píxeles (puedes ajustar este valor según tus preferencias) */
  }
  
  .mdc-text-field--radio {
    height: 1.75rem;
  }
  
  .mdc-text-field--radio input {
    font-size: 0.875rem;
  }