:root {
    --mdc-theme-secondary: var(--mdc-theme-primary);
  }
  .test {
    display: inline-block;
  }
  body {
    font-family: "Roboto", sans-serif;
    font-size: .938rem;
    font-weight: 400;
    background-color: #fafafa;
    margin: 0;
  }
  h2 {
    margin-top: .75em;
    margin-bottom: .25em;
  }
  p {
    margin-top: 0;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .w-100 {
    width: 100%;
  }
  
  .ribbon {
    position: absolute;
    background-color: #e7a935; /* Blue background color for the ribbon */
    padding: 120px; /* Adjust padding as needed */
    border-radius: 0px; /* Rounded corners for the ribbon */
    width: 100%;
    }

  .centered {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    opacity: .999;
  }

  .centered img {
    /* Estilos adicionales para la imagen, como ancho máximo, márgenes, etc. */
    max-width: 100%; /* Ajusta el ancho máximo de la imagen */
  }

  .card-container {
    display: flex;
    justify-content: center;
    margin-top: -40vh;
  }
  .mdc-card {
    width: 100%;
    max-width: 860px;
    margin: 16px;
  }
  
  .mdc-radio {
    margin-right: 2px;
  }
  
  h1 {
    font-size: 48px; /* Cambia el tamaño de letra a 24 píxeles (puedes ajustar este valor según tus preferencias) */
    margin-top: 42vh;
  }
  p {
    font-size: 15px; /* Cambia el tamaño de letra a 24 píxeles (puedes ajustar este valor según tus preferencias) */
  }
  
  .mdc-text-field--radio {
    height: 1.75rem;
  }
  
  .mdc-text-field--radio input {
    font-size: 0.875rem;
  }
  #columna1 {
    display: absolute;
    background-color: #e7a935;
  }
  .column {
    width: 50%; /* Ancho de la columna (ajusta según tus necesidades) */
    float: left; /* Hace que las columnas se coloquen una al lado de la otra */
  }
  #form {
    display: absolute;
    margin-top: 42vh;
  }
  #imagen_comida {
    
    opacity: .5;
  }