<!DOCTYPE html>
<html>
<head>
    <title>Aportar</title>
    <link rel="stylesheet" type="text/css" href="../CSS/aportar.css"> <!-- Vincula el archivo CSS externo -->
</head>
<body>
    <h1>Aportar</h1>

    <div id="upload-form">
        <form action="upload.php" method="post" enctype="multipart/form-data">
            <label for="file">Selecciona un archivo CSV:</label>
            <input type="file" name="file" id="file">
            <input type="submit" value="Subir">
        </form>
    </div>
</body>
</html>
