<!DOCTYPE html>
<html>
  <main>
      <link rel="stylesheet" type="text/css" href="../CSS/styles.css"> <!-- Vincula el archivo CSS externo -->
        <div class="ribbon"></div>
    <div class="centered">
      <img src="../images/nutrered_logo_medium.png" alt="NutreRed">
    </div>
       
  <body>
    
        <nav>
            <ul>
                <!-- Existing tabs -->
                <li><a href="index.html">Home</a></li>
                
                <!-- New tab -->
                <li><a href="aportar.html">Aportar</a></li>
            </ul>
        </nav>
    
      </div>
      <div class="card-container">
        <div class="mdc-card">
          <form action="/submit" method="post">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="column" id="columna1">
                  <p id="texto_columna1">Un problema a nivel mundial siempre ha sido el desabasto
                    de alimentos, sin embargo, en los recientes años este problema ha estado
                    creciendo a nivel nacional, y una de las principales causas de esto parece
                    ser el desperdicio de alimentos.</p>
                  <p id="texto_columna1"></p>
                    En México, una persona promedio tira alrededor de 28.1 kilos de comida
                    al año, esto es un gran desperdicio de alimentos, sin embargo, no se
                    compara a la cantidad de alimentos que terminan tirando los supermercados,
                    las cuales pueden llegar a superar las 3 TONELADAS anuales.
                  </p>
                </div>
                <div class="column">
                  <div id="imagen_comida">
                    <img src="../images/desperdicio_comida.png" alt="desperdicio_comida" width="100%" height="100%">
                  </div>
                </div>
                <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                  <h2 id="form">Introduce tu información</h2>
                </div>
                
                
                <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                  <label id="nombre" class="mdc-text-field mdc-text-field--filled w-100">
                    <span class="mdc-text-field__ripple"></span>
                    <input id="nombre-input"
                          name="nombre"
                          class="mdc-text-field__input" 
                          type="text" 
                          placeholder="Introduce tu nombre" 
                          aria-labelledby="name-floating-label" 
                          required>
                    <span class="mdc-floating-label" id="name-floating-label">Nombre Completo</span>
                    <span class="mdc-line-ripple"></span>
                  </label>
                </div>
                <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-9-desktop">
                  <label id="email" class="mdc-text-field mdc-text-field--filled w-100">
                    <span class="mdc-text-field__ripple"></span>
                    <input id="email-input"
                          name="email"
                          class="mdc-text-field__input" 
                          type="email" 
                          placeholder="Introduce tu email" 
                          aria-labelledby="email-floating-label" 
                          required>
                    <span class="mdc-floating-label" id="email-floating-label">Email</span>
                    <span class="mdc-line-ripple"></span>
                  </label>
                </div>
                
                <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-9-desktop">
                  <label id="adress" class="mdc-text-field mdc-text-field--filled w-100">
                    <span class="mdc-text-field__ripple"></span>
                    <input id="adress-input"
                          name="address"
                          class="mdc-text-field__input" 
                          type="text" 
                          placeholder="Introduce tu dirección" 
                          aria-labelledby="email-floating-label" 
                          required>
                    <span class="mdc-floating-label" id="email-floating-label">Dirección</span>
                    <span class="mdc-line-ripple"></span>
                  </label>
                </div>

                <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
                  <label id="tipo">
                  <select name="tipo" id="dropdown">
                    <option value="C">Soy una caridad</option>
                    <option value="D">Soy una empresa socialmente responsable</option>
                  </select>
                </div>
              </div>
            </div>
            <input type="submit" value="Enviar">
            
          </form>
        </div> 
      </div>
    </body>
  </main>
</html>