<!DOCTYPE html>
<html>
<head>
    <title>Nosotros</title>
    <link rel="stylesheet" type="text/css" href="../CSS/nosotros.css"> <!-- Vincula el archivo CSS externo -->
</head>
<body>
    <h1>Nosotros</h1>

    <div class="content">
        <div class="section">
            <h2>Quiénes Somos</h2>
            <p>En NutreRed, estamos comprometidos en hacer una diferencia significativa en la lucha contra el desperdicio de alimentos y en mejorar la calidad de vida de comunidades vulnerables. Somos un puente entre empresas y restaurantes que tienen alimentos excedentes y organizaciones benéficas, asilos y comedores comunitarios que necesitan apoyo.</p>
        </div>
        <div class="image">
            <img src="ESR.png" alt="Empresa Socialmente Responsable" width=200>
        </div>
        <div class="section">
            <h2>Nuestra Misión</h2>
            <p>Nuestra misión es simple pero poderosa: reducir el desperdicio de alimentos y alimentar a quienes más lo necesitan. Conectamos a empresas y restaurantes con corazón a organizaciones locales, asegurando que los alimentos excedentes lleguen a manos hambrientas en lugar de desperdiciarse.</p>
        </div>
        <div class="section">
            <h2>Lo Que Hacemos</h2>
            <ul>
                <li>Facilitamos conexiones entre donantes y beneficiarios.</li>
                <li>Coordinamos la logística de recolección y entrega de alimentos.</li>
                <li>Promovemos la sostenibilidad al reducir el desperdicio de alimentos.</li>
                <li>Contribuimos al bienestar de las comunidades locales.</li>
            </ul>
        </div>
    </div>
</body>
</html>
